*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todos {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}


.todos h1 {
  font-size: 8rem;
}